.movieDashboard {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    color: white;

    padding: 8px;
    gap: 8px;
}

.information {
    max-width: 100%;
    width: 100%;
    overflow-wrap: break-word;
}

/* .keyValue {
    overflow-wrap: break-word;
} */